.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

nav {
  background-color: #e8e8e8;
  width: 100%;
  position: absolute;
  top: 0;
  height: 30px;
  position: fixed;
}

nav form {
  position: relative;
  float: right;
}

nav #submit{
  position: relative;
  float: right;
  margin: 0;
}

nav #submit p{
  margin: 0;
}

.signed-in {
  float:right;
  height: 30px;
}

.signed-in li {
  display: inline-block;
  text-decoration: none;
  padding-right: 10px;
}

.signed-in a {
  text-decoration:none;
  color: gray;
}

h2 {
  color: #e52a82;
}


