<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <nav>
    <a href="/"><img src="/flickr.png" href=""></a>
    <% unless current_user %>
    <form action="/" method="post">
      <input type="text" name="login[email]" placeholder="Email">
      <input type="password" name="login[password]">
      <input type="submit" value="Login">
    </form>
    <% else %>
    <a id="submit" href="/upload"><p>Upload Photos</p></a>
    <% end %>
  </nav>
  <%= yield %>
</body>
</html>
