<div class="container">
  <h2> Upload Image </h2>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="filename"><br><br>
    <input type="submit" value="Upload!">
  </form>
</div>
